<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
   <ion-buttons slot="end">
    <ion-avatar>
      <img src="../../../assets/img/batman.jpg" />
    </ion-avatar>
   </ion-buttons>   
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-chip color="primary" mode="ios" outline="true">
    <ion-avatar>
      <img src="../../../assets/img/superman.jpg" />
    </ion-avatar>
    <ion-label>Superman</ion-label>
  </ion-chip>
  <ion-list>
    <ion-item *ngFor="let a of avatares">
      <ion-avatar slot="end">
        <img [src]="a.img" />
      </ion-avatar>
      <ion-label>{{a.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
