<app-header titulo="Checks"></app-header>

<ion-content>
<ion-item *ngFor="let dato of datos"> 
  <ion-label>{{dato.nombre}}</ion-label>
  <ion-checkbox slot="start" [color]="dato.nombre" [(ngModel)]="dato.selector"></ion-checkbox>
</ion-item>

<ion-item *ngFor="let d of data"> 
  <ion-label>{{d.selector}}</ion-label>
  <ion-checkbox slot="start" [color]="d.nombre" [(ngModel)]="d.selector"></ion-checkbox>
</ion-item>
<ion-button (click)="onClick()" expand="block">
  Aceptar
</ion-button>
</ion-content>
