<ion-content>
    <ion-list>
        <ion-list-header>Ionic</ion-list-header>
        <ion-item button (click)="selectedItemPopover('Learn Ionic')">Learn Ionic</ion-item>
        <ion-item button (click)="selectedItemPopover('Documentation')">Documentation</ion-item>
        <ion-item button (click)="selectedItemPopover('Showcase')">Showcase</ion-item>
        <ion-item button (click)="selectedItemPopover('GitHub Repo')">GitHub Repo</ion-item>
        <ion-item lines="none" detail="false" button (click)="dismissPopover()">Close</ion-item>
      </ion-list>
</ion-content>