<app-header titulo="Grid"></app-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-card>
        <ion-img src="assets/img/batman.jpg"></ion-img>
      </ion-card>
      <ion-card-header>
        <ion-card-subtitle>Batman</ion-card-subtitle>
        <ion-card-title>El Caballero de la Noche</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Mientras Batman, el teniente Gordon y el fiscal de distrito continúan desmantelando el bajo mundo criminal de Ciudad Gótica, un nuevo villano intenta deshacer su trabajo
      </ion-card-content>
    </ion-col>
   
  </ion-row>
</ion-grid>
</ion-content>
